@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');

@import "tailwindcss";


@theme {
  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading: "Montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary-green: #365342;
  --color-green-dark: #203128;
  --color-primary-pink: #ffe5d7;
  --color-light-pink: #fff9f6;
  --color-white: rgb(255, 253, 254, 1);
  --spacing-page: 10rem;
  --spacing-page-mobile: 1rem;
}

html,
body {
  @apply bg-primary-pink text-primary-green text-lg font-light p-0 m-0;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

}

h1, h2, h3, h4, h5, h6, p {
  @apply font-black font-heading mb-2;
}

h1 {
  @apply text-3xl md:text-6xl 
}

h2 {
  @apply text-xl md:text-4xl
}

h3 {
  @apply text-lg md:text-2xl
}

p {
  @apply text-base font-light;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh); /* Moves up faster */
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

